<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CodeGenerator.Properties.Settings>
            <setting name="SyllabusCode" serializeAs="String">
                <value>&lt;p style="text-align: center;"&gt;&lt;span style="font-size: x-large;"&gt;Course Prefix &amp;amp; Number&lt;/span&gt;&lt;br /&gt; &lt;span style="font-size: large;"&gt;Title of Course&lt;br /&gt; &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Course Instructor:&lt;/strong&gt;&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/DynamicContent.asmx/InstructorInformation?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Text and Resources:&lt;/strong&gt;&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/DynamicContent.asmx/MoreInformation?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;h1&gt;Course Overview&lt;/h1&gt;
&lt;p&gt;This section will contain the course overview and will be public to web visitors for preview of the syllabus.&lt;/p&gt;
&lt;h1&gt;Course Goals&lt;/h1&gt;
&lt;p&gt;This section will contain the course goals and will be public to web visitors for preview of the syllabus.&lt;/p&gt;
&lt;h1&gt;Course Work&lt;/h1&gt;
&lt;p&gt;This section will contain the course work and will be public to web visitors for preview of the syllabus.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&lt;em&gt;Proctored Exam Information&lt;/em&gt;&lt;/strong&gt; &lt;span style="font-size: x-small;"&gt;&lt;em&gt;[Delete this table AND the include file below it if this course does NOT have proctored exams. Otherwise, for course with proctored exams, fill in the table to provide all required details. Special instructions should include ALL information about use of books, notes, calculators, scratch paper, and so on.]&lt;/em&gt;&lt;/span&gt;&lt;/p&gt;
&lt;table style="border: 1px solid #000000; margin-left: 60px; border-collapse: collapse; width: 60%;" cellpadding="4" cellspacing="0"&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;td style="border: 1px solid #000000; text-align: center; background-color: #ece9d8;"&gt;&lt;strong&gt;Exam #&lt;/strong&gt;&lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: center; background-color: #ece9d8;"&gt;&lt;strong&gt;Format&lt;/strong&gt;&lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: center; background-color: #ece9d8;"&gt;&lt;strong&gt;Time Limit&lt;/strong&gt;&lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: center; background-color: #ece9d8;"&gt;&lt;strong&gt;Special Instructions&lt;/strong&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/HowToProctoredExams.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/HowToProctorWSUExams.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;h1&gt;Instructor Interaction&lt;/h1&gt;
&lt;p&gt;The instructor has the latest information about interaction and feedback.&lt;/p&gt;
&lt;h1&gt;Late Work Policy&lt;/h1&gt;
&lt;p&gt;The instructor has the latest information about a late work policy.&lt;/p&gt;
&lt;h1&gt;Grading&lt;/h1&gt;
&lt;p&gt;This section will contain grading information and tables and will NOT be public to web visitors for preview of the syllabus.&lt;/p&gt;
&lt;table style="border: 1px solid #000000; margin-left: 60px; border-collapse: collapse; width: 50%;" cellpadding="4" cellspacing="0"&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000;"&gt; &lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;p&gt;&lt;/p&gt;
&lt;table style="border: 1px solid #000000; margin-left: 60px; border-collapse: collapse; width: 50%;" cellpadding="4" cellspacing="0"&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;td style="border: 1px solid #000000; background-color: #ece9d8; text-align: left;"&gt;&lt;strong&gt;Grade&lt;/strong&gt;&lt;/td&gt;
&lt;td style="border: 1px solid #000000; background-color: #ece9d8; text-align: left;"&gt;&lt;strong&gt;Points&lt;/strong&gt;&lt;/td&gt;
&lt;td style="border: 1px solid #000000; background-color: #ece9d8; text-align: left;"&gt;&lt;strong&gt;Grade&lt;/strong&gt;&lt;/td&gt;
&lt;td style="border: 1px solid #000000; background-color: #ece9d8; text-align: left;"&gt;&lt;strong&gt;Points&lt;/strong&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt;A&lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt;C&lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt; &lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt;A-&lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt;C-&lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt; &lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt;B+&lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt;D+&lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt; &lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt;B&lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt;D&lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt; &lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt;B-&lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt;F&lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt; &lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt;C+&lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt; &lt;/td&gt;
&lt;td style="border: 1px solid #000000; text-align: left;"&gt; &lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/syllabus/incompletePolicy.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/syllabus/courseSchedule.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/syllabus/academicRegulations.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/syllabus/StudentPrivacy.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/syllabus/academicIntegrity.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/syllabus/onlineCollaboration.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/syllabus/criticalThinking.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/syllabus/ReasonableAccommodations.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/syllabus/TechnicalSupportSyllabus.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/syllabus/WSUOnlineStudentSupport.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/syllabus/librarySupport.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/syllabus/eTutoring.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/syllabus/academicCalendar.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;
&lt;p class="includeGCContent" data-url="https://learn-content.wsu.edu/includes/credit/syllabus/CampusSafety.html?courseId=@X@course.id@X@"&gt;This content will only display when Edit Mode is turned OFF. Do not delete this placeholder text.&lt;/p&gt;</value>
            </setting>
        </CodeGenerator.Properties.Settings>
    </userSettings>
</configuration>